---
title: Guntitat S.
layout: base
---

<div class="w-full lg:w-1/5 lg:px-6 text-xl text-gray-800 leading-normal">
    <div class="w-full sticky inset-0 hidden h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-20"
        style="top:5em;" id="menu-content">
        <ul class="list-reset" id="top-menu">
            <li class="py-2 md:my-0 hover:bg-blue-100 lg:hover:bg-transparent">
                <a href="#"
                    class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-700 border-l-4 border-transparent lg:border-blue-700 lg:hover:border-blue-700">
                    <span class="pb-1 md:pb-0 text-sm text-gray-900 font-bold">About Me</span>
                </a>
            </li>
            <li class="py-2 md:my-0 hover:bg-blue-100 lg:hover:bg-transparent">
                <a href="#work"
                    class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-700 border-l-4 border-transparent lg:hover:border-gray-400">
                    <span class="pb-1 md:pb-0 text-sm">Work Experience</span>
                </a>
            </li>
            <li class="py-2 md:my-0 hover:bg-blue-100 lg:hover:bg-transparent">
                <a href="#education"
                    class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-700 border-l-4 border-transparent lg:hover:border-gray-400">
                    <span class="pb-1 md:pb-0 text-sm">Education</span>
                </a>
            </li>
            <li class="py-2 md:my-0 hover:bg-blue-100 lg:hover:bg-transparent">
                <a href="#awards"
                    class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-700 border-l-4 border-transparent lg:hover:border-gray-400">
                    <span class="pb-1 md:pb-0 text-sm">Awards</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div
    class="w-full font-sans lg:w-4/5 p-8 mt-6 lg:mt-0 text-gray-900 leading-normal bg-white border border-gray-400 border-rounded">
    <!--Title-->
    <div class="text-center mx-auto md:text-left md:flex font-sans space-x-5">
        <img class="mx-auto my-auto w-48 h-48 md:w-40 md:h-40 rounded-full" src="img/profile.jpg">
        <div class="my-3">
            <p class="text-2xl font-bold hover:text-blue-700">Guntitat Sawadwuthikul</p>
            <p class="text-xl font-medium mb-2">School of Computing, Korea Advanced Institute of Science and
                Technology (KAIST)</p>
            </p>
            <p class="text-base">Computer science student from Korea Advanced Institute of Science and Technology.
                Interested in machine learning research and web development. During free time, I mostly play the guitar
                and watch DOTA2 streams.</p>
            <div class="my-3">
                <p class="text-base">Feel free to check out my <a class="text-blue-700 hover:underline"
                    href="/guntitat_cv.pdf" target="_blank" rel="noopener noreferrer">CV</a> 
                    which contains my contact information you might need.</p>
            </div>
        </div>
    </div>

    <div class="my-5">
        <p class="text-lg font-bold text-blue-700">News</p>
        <ol class="ml-5 list-disc">
            <li>2022/03: Joined
                <a href="https://careers.scb.co.th/en/life-at-scb/detail/interview-scb-data-analytics/"
                    class="text-blue-700 hover:underline" target="_blank" rel="noopener noreferrer">Interfaces</a>
                lab as a research assistant under supervision of Prof. <a
                    href="https://scholar.google.com/citations?user=U-L-iGIAAAAJ" class="text-blue-700 hover:underline"
                    target="_blank" rel="noopener noreferrer">Theerawit Wilaiprasitporn</a>.
            </li>
            <li>2022/01:
                <a href="https://careers.scb.co.th/en/life-at-scb/detail/interview-scb-data-analytics/"
                    class="text-blue-700 hover:underline" target="_blank" rel="noopener noreferrer">SCB Data Analytics
                    Team</a>
                offered me a summer internship position.
            </li>
            <li>2021/11: My research work has appeared live on MCOT channel.
                <a href="https://youtu.be/aeoBwviz_hQ?t=91" class="text-blue-700 hover:underline" target="_blank"
                    rel="noopener noreferrer">(Link)</a>
            </li>
        </ol>
    </div>

    <div>
        <hr class="py-4 mt-6 border-t border-grey-400">
    </div>

    <div id="work">
        <span class="ml-2 border-4 p-2 border-blue-700 text-xl font-semibold hover:bg-blue-100">Work
            Experience</span>

        {% for work in site.data.works %}
        <div class="mt-6 md:flex space-x-5">
            <img class="mx-auto my-auto w-32 md:px-4" src="img/{{ work.media }}">
            <div class="font-sans mt-5 md:mt-0">
                <p class="text-lg font-bold">{{ work.title }}</p>
                <a href="{{ work.company_link }}" class="text-lg text-blue-700 font-medium hover:underline"
                    target="_blank" rel="noopener noreferrer">{{ work.company }}</a>
                <ul class="md:flex justify-start items-left my-1 space-y-1 md:space-y-0 md:space-x-5">
                    <li class="mr-3">
                        <i class="far fa-calendar mr-2"></i>{{ work.start_date }} - {{ work.end_date }}
                    </li>
                    <li class="mr-3">
                        <i class="far fa-map mr-2"></i>{{ work.location }}
                    </li>
                </ul>
                <p class="text-base">{{ work.desc }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div>
        <hr class="py-4 mt-6 border-t border-grey-400">
    </div>

    <div id="education">
        <span class="ml-2 border-4 p-2 border-blue-700 text-xl font-semibold hover:bg-blue-100">Education</span>

        <div class="mt-6 md:flex space-x-5">
            <img class="mx-auto my-auto w-32 md:px-4 md:mx-0" src="img/kaist.png">
            <div class="font-sans mt-5 md:mt-0">
                <p class="text-lg font-bold">B.Sc. in Computer Science and Electrical Engineering</p>
                <p class="text-lg font-medium text-blue-700">Korea Advanced Institute of Science
                    and Technology (KAIST)</p>
                <ul class="md:flex justify-start items-left my-1 space-y-1 md:space-y-0 md:space-x-5">
                    <li class="mr-3">
                        <i class="far fa-calendar mr-2"></i>August 2019 - Ongoing
                    </li>
                    <li class="mr-3">
                        <i class="far fa-map mr-2"></i>Daejeon, South Korea
                    </li>
                </ul>
                <p class="text-base">Majoring in Computer Science, and considering Electrical Engineering as a
                    double major. Expected to graduate in June 2023.
                </p>
            </div>
        </div>

        <div class="mt-6 md:flex space-x-5">
            <img class="mx-auto my-auto w-32 md:px-4 md:mx-0" src="img/kvis.png">
            <div class="font-sans mt-5 md:mt-0">
                <p class="text-lg font-bold">High School Diploma</p>
                <p class="text-lg font-medium text-blue-700">Kamnoetvidya Science Academy (KVIS)</p>
                <ul class="md:flex justify-start items-left my-1 space-y-1 md:space-y-0 md:space-x-5">
                    <li class="mr-3">
                        <i class="far fa-calendar mr-2"></i>May 2016 - February 2019
                    </li>
                    <li class="mr-3">
                        <i class="far fa-map mr-2"></i>Rayong, Thailand
                    </li>
                </ul>
                <ol class="ml-5 list-disc">
                    <li>Elected as a valedictorian of the cohort</li>
                    <li>Perfect cumulative GPA across all semesters (4.00/4.00)</li>
                </ol>
            </div>
        </div>
    </div>

    <div>
        <hr class="py-4 mt-6 border-t border-grey-400">
    </div>

    <div id="awards">
        <span class="ml-2 border-4 p-2 border-blue-700 text-xl font-semibold hover:bg-blue-100">
            Awards</span>

        <ol class="mt-6 ml-5 list-disc">
            {% for award in site.data.awards %}
            <li>({{ award.year }}) {{ award.title }}</li>
            {% endfor %}
        </ol>
    </div>
    <!-- <div id="awards">
        <span class="ml-2 border-4 p-2 border-blue-700 text-xl font-semibold hover:bg-blue-100">
            Awards</span>

        {% for award in site.data.awards %}
        <div class="ml-4 mt-6">
            <p class="text-lg font-bold">{{ award.title }}</p>
            <p class="text-lg font-medium text-blue-700">{{ award.subtitle }}</p>
            <ul class="md:flex justify-start items-left my-1 space-y-1 md:space-y-0 md:space-x-5">
                <li class="mr-3">
                    <i class="far fa-calendar mr-2"></i>{{ award.year }}
                </li>
                <li class="mr-3">
                    <i class="far fa-map mr-2"></i>{{ award.location }}
                </li>
            </ul>
            <p class="text-base">
                {{ award.desc }}
            </p>
            {% if award.link or award.gh_link %}
            <div id="links" class="mt-2 space-x-8">
                {% if award.link %}
                <a target="_blank" rel="noopener noreferrer" class="hover:text-blue-700" href="{{ award.link }}"><i
                        class="fas fa-external-link-alt mr-2"></i>{{ award.link_title }}</a>
                {% endif %}

                {% if award.gh_link %}
                <a target="_blank" rel="noopener noreferrer" class="hover:text-blue-700" href="{{ award.gh_link }}"><i
                        class="fab fa-github mr-2"></i>GitHub</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div> -->

</div>
<div class="w-full lg:w-4/5 lg:ml-auto text-base md:text-sm text-gray-500 px-4 py-6">
    <p></p>
</div>

</body>

</html>